# <span style="color:darkblue"> Lecture 20 - Connecting to SQL via Python </span>

<font size = "5">

In the past lectures:

- We worked directly in SQL
- Imported data
- Carried out basic dataset operations

In  this lecture we will run SQL from Python

- Combine the best of both!
- Learn about escape characters!

# <span style="color:darkblue"> I. Import Libraries and Data </span>

<font size = "5">

Install new libraries to connect to SQL from Python:

- psycopg2
- sqlalchemy

In [1]:
# With base Python, run the following commands in the terminal
# (i)     pip3 install psycopg2
# (ii)    pip3 install sqlalchemy
# If (i) doesn't work, instead try
#         pip3 install psycopg2-binary           OR
#         pip3 install psycopg2-binary --user

# For Anaconda: Open the "Anaconda Navigator" app and go the "Environment" tab
# Check whether "psycopg2", "sqlalchemy" appear in the "installed" panel
# Otherwise, search in the "Not installed" panel and install them

<font size = "5">

Import libraries

In [2]:
# psycogpg2 helps us process SQL commands to send to the server
# sqlalchemy facilitates establishing a connection with the server

import pandas as pd
import psycopg2
import sqlalchemy as sa
from   sqlalchemy.engine import URL
from   sqlalchemy import text

<font size = "5">

Import Data

In [3]:
# Import the two car racing datasets

results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
circuits = pd.read_csv("data_raw/circuits.csv")

<font size = "5">

Connect to SQL server

In [4]:
# Use the connection details to your server
# These are the default settings.
# "postgresql" is a fixed argument
# If you have a different host,database, username, or password,
# change the corresponding connection details

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    port = 5432,
    username = 'postgres',
    password  = '12345')

con = sa.create_engine(url_server).connect()

<font size = "5">

Upload data to SQL

In [5]:
# Import the "results" table, with the name "results_sql"
# Con is an argument to specify the server connection
# "if_exists" is an option to replace the table if it already exists
# You can choose any name instead of "results_sql"

results.to_sql('results_sql',
               con = con,
               if_exists='replace')

# Import "races"
races.to_sql('races_sql',con, if_exists='replace')

102

<font size = "5">

Try it yourself!

- Upload the "circuits table" into SQL <br>
using ".to_sql()"

In [6]:
# Write your own code

circuits.to_sql('circuits_sql',
                con = con, 
                if_exists='replace')

circuits.to_sql('circuits_sql',con, if_exists='replace')

77

# <span style="color:darkblue"> II. "Escape" Characters </span>

<font size = "5">

- Backslash (\\) is known as an escape character
- Used for special operations on strings
- Great for working with text!

<font size = "5">

Multi-line strings (" \ ")

In [7]:
# Use a backslash to define strins over multiple lines
example_string = "This is a string \
                  defined over multiple lines"

<font size = "5">

"Double quotes" inside string

In [8]:
# Use a backslash + quotation 

example_double = "This will \"supposedly\" put double quotes inside a string"
print(example_double)

This will "supposedly" put double quotes inside a string

<font size = "5" >
'Single quotes' inside string

In [9]:
# There is no need for a backslash given single quotes 

example_single = "This will 'supposedly' put single quotes inside a string"
print(example_single)

This will 'supposedly' put single quotes inside a string

<font size = "5">

Try it yourself!

- Print a string ``` SELECT "driverId" FROM results; ``` <br> 
using backslash

In [8]:
# Write your own code

print("SELECT \"driverId\" FROM results;")

SELECT "driverId" FROM results;

# <span style="color:darkblue"> II. Data operations </span>

<font size = "5">

- In SQL, operations are often called "queries"

<font size = "5">

Import Data from SQL

In [8]:
# Use "pd.read_sql()"
# - The first argument is string with instructions wrapped in text()
#- The second argument is the server connection

# Extract all data from a column
example1 = pd.read_sql(text("SELECT * \
                             FROM results_sql;"),con)

# Extract a subset of columns
example2 = pd.read_sql(text("SELECT points \
                             FROM results_sql;"),con)

# Subset based on a string condition
example3 = pd.read_sql(text("SELECT * \
                             FROM races_sql \
                             WHERE name = 'Abu Dhabi Grand Prix';"),con)


example3


# Note: (i) Remember to include "\"  to be able to define
#           strings over multiple lines
#       (ii) We can include single quotations in the WHERE command
#            without any additional escape characters

,index,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,16,17,2009,17,24,Abu Dhabi Grand Prix,2009-11-01,11:00:00,http://en.wikipedia.org/wiki/2009_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,354,355,2010,19,24,Abu Dhabi Grand Prix,2010-11-14,13:00:00,http://en.wikipedia.org/wiki/2010_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,856,858,2011,18,24,Abu Dhabi Grand Prix,2011-11-13,13:00:00,http://en.wikipedia.org/wiki/2011_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,875,877,2012,18,24,Abu Dhabi Grand Prix,2012-11-04,13:00:00,http://en.wikipedia.org/wiki/2012_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,894,897,2013,17,24,Abu Dhabi Grand Prix,2013-11-03,13:00:00,http://en.wikipedia.org/wiki/2013_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
5,915,918,2014,19,24,Abu Dhabi Grand Prix,2014-11-23,13:00:00,http://en.wikipedia.org/wiki/2014_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
6,934,945,2015,19,24,Abu Dhabi Grand Prix,2015-11-29,13:00:00,http://en.wikipedia.org/wiki/2015_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
7,955,968,2016,21,24,Abu Dhabi Grand Prix,2016-11-27,13:00:00,http://en.wikipedia.org/wiki/2016_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
8,975,988,2017,20,24,Abu Dhabi Grand Prix,2017-11-26,13:00:00,http://en.wikipedia.org/wiki/2017_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
9,996,1009,2018,21,24,Abu Dhabi Grand Prix,2018-11-25,13:10:00,http://en.wikipedia.org/wiki/2018_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
10,1017,1030,2019,21,24,Abu Dhabi Grand Prix,2019-12-01,13:10:00,http://en.wikipedia.org/wiki/2019_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
11,1034,1047,2020,17,24,Abu Dhabi Grand Prix,2020-12-13,13:10:00,http://en.wikipedia.org/wiki/2020_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
12,1057,1073,2021,22,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...,2021-12-10,\N,2021-12-10,\N,2021-12-11,\N,2021-12-11,\N,\N,\N
13,1078,1096,2022,22,24,Abu Dhabi Grand Prix,2022-11-20,13:00:00,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N
14,1101,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N

<font size = "5">

Upper case columns

- In SQL syntax we use double quotes e.g. ``` "driverId" ```
- ```.read_sql()``` requires a string inside a string
- To do so, use escape characters, e.g.   ``` \"driverId\" ```

In [9]:
# Select a column
example4 = pd.read_sql(text("SELECT \"driverId\" \
                             FROM results_sql;"),con)

# Compute an aggregate statistic
example5 = pd.read_sql(text("SELECT AVG(points) as mean_points \
                             FROM results_sql \
                             GROUP BY \"driverId\" ;"),con)

<font size = "5">

Merge two datasets

In [13]:
# Merge 
# Reference the column \"driverId\" with escape characters
example6 = pd.read_sql(text("SELECT * \
                             FROM results_sql \
                             LEFT JOIN races_sql \
                             ON results_sql.\"raceId\" = races_sql.\"raceId\" ;"),con)

# Merge a subset of columns
# Use "results_sql.*" to select all columns from the primary dataset
# Use "races_sql.date" to only select the "date" column from the secondary dataset 

example7 = pd.read_sql(text("SELECT results_sql.*, races_sql.date \
                             FROM results_sql \
                             LEFT JOIN races_sql \
                             ON results_sql.\"raceId\" = races_sql.\"raceId\" ;"),con)

<font size = "5">

Try it yourself!

- Practice the ```pd.read_sql()``` command
- FROM results_sql compute the sum of points by <br>
"raceId" <br>

In [15]:
# Write your own code

example7 = pd.read_sql(text("SELECT SUM(points) AS sum_points \
                             FROM results_sql \
                             GROUP BY \"raceId\" ;"),con)




example7

      sum_points
0           25.0
1           26.0
2           39.0
3          101.0
4          101.0
...          ...
1074        39.0
1075        39.0
1076        26.0
1077        24.0
1078        24.0

[1079 rows x 1 columns]

<font size = "5">

Try it yourself!

- Practice the ```pd.read_sql()``` command
- Merge "races_sql" and the circuits table on "circuitId" <br>
tha you imported above using ```LEFT JOIN```

In [13]:
# Write your own

example8 = pd.read_sql(text("SELECT * \
                             FROM races_sql \
                             LEFT JOIN circuits_sql \
                             ON races_sql.\"circuitId\" = circuits_sql.\"circuitId\";"), con)

# <span style="color:darkblue"> IV. Additional Material </span>

<font size = "5">

More about SQL syntax

https://www.w3schools.com/sql/